* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
:visited,
:focus,
:active {
  color: var(--color-text);
  text-decoration: none;
}

:root {
  --index: calc(1vw + 1vh);
  --color-title: #f4efec;
  --color-text: #cdc6c3;
  --title-font: outfit;
  --vertical-gap: calc(var(--index) * 7);
  --xs: 320px;
  --m: 560px;
  --l: 760px;
  --l: 1024px;
  --xl: 1200px;
}

@font-face {
  font-family: raleway;
  src: url(fonts/raleway-regular.woff2);
}

@font-face {
  font-family: outfit;
  src: url(fonts/outfit-regular.woff2);
}

body {
  background-image: url(img/bg.jpg);
  background-size: 50px;
  color: #fafafa;
  font-family: raleway;
  overflow-x: hidden;
  min-width: 340px;
  max-width: 1200px;
}

.content,
.header__hero,
.title-block,
.gallery__col {
  will-change: transform;
}

.header__hero {
  width: calc(var(--index) * 35);
  position: absolute;
  left: 37vw;
  top: 8vh;
}

.container {
  padding: 0 7vw;
}

.title-block {
  height: 100vh;
}

.main-title {
  font-family: var(--title-font);
  font-size: calc(var(--index) * 8);
  line-height: 0.9;
  position: absolute;
  width: min-content;
  bottom: 10vh;
}

.gallery {
  display: flex;
  padding: calc(var(--index) * 8) 0;
}

.gallery__col {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.gallery__left {
  margin-top: calc(var(--vertical-gap) * 1.75);
}

.gallery__right .gallery__item {
  margin: 0;
  margin-top: var(--vertical-gap);
}

.gallery__item {
  max-width: calc(var(--index) * 21);
  margin-bottom: var(--vertical-gap);
  max-height: 90vh;
  border-radius: 8px;
}

.gallery__text-title {
  font-style: var(--title-font);
  font-size: 2rem;
  line-height: 2.4rem;
  color: var(--color-title);
  margin-bottom: 1.5rem;
}

.gallery__text-block {
  color: var(--color-text);
  position: relative;
}

.gallery__text {
  line-height: 1.75rem;
}

.logo__wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.logo {
  background-image: url(/img/Company.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 250px;
  height: 70px;
  justify-self: center;
  margin-top: 100px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.footer__copyright {
  color: var(--color-text);
  font-style: var(--title-font);
}

.footer__link {
  padding-right: 1rem;
}

.footer__link:hover {
  color: #e13e35;
}

@media screen and (max-width: 900px) {
  .body {
    max-width: 900px;
  }
  .header__hero {
    left: calc(var(--index) * 3);
  }

  .main-title {
    left: -40vw;
  }

  .gallery__text-title {
    font-size: 1.45rem;
  }

  .gallery__text {
    font-size: 1rem;
  }
  .container {
    padding: 0 2vw;
    display: flex;
    justify-content: center;
  }
  .gallery {
    display: grid;
    grid-template-columns: min-content;
  }
}

@media screen and (max-width: 800px) {
  .header__hero {
    left: calc(var(--index) * 15);
  }
  .container {
    padding: 0px 2vw;
  }
}

@media screen and (max-width: 700px) {
  .header__hero {
    left: calc(var(--index) * 13);
    width: calc(var(--index) * 29);
  }
  .main-title {
    font-size: calc(var(--index) * 6);
    bottom: -20vh;
  }
  .title-block {
    height: 70vh;
    display: flex;
    justify-content: center;
  }
  .gallery {
    flex-direction: column;
  }
  .footer__link {
    padding-right: 0.2rem;
  }
  .footer {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 500px) {
  .header__hero {
    left: 0;
    width: calc(var(--index) * 29);
  }
  .title-block {
    height: 100vh;
  }
  .main-title {
    font-size: calc(var(--index) * 6);
    bottom: 28vh;
  }
  .gallery {
    padding: 0;
  }
  .gallery__left {
    margin: 0;
  }
  .footer {
    flex-direction: column;
    align-items: center;
    height: 1rem;
  }
  .footer__copyright {
    padding-bottom: 0.5rem;
  }
  .footer__links {
    padding-bottom: 1rem;
  }
}
